extends layout

block content   
    .container-fluid
        .row
    script
        include ../public/javascripts/users/user_func.js        
        include ../public/javascripts/users/users.js            