extends layout

block content   
    if accountType == 'Standard'   
        .container.marketing
            .row
                h2 The statistics here show from the postcode on your account.
                .col-lg-6.col-sm-12
                    ul.list-group.mb-3
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Crime
                                small.text-muted Total Crime Number
                            buttton#crimeStatUser
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Housing
                                small.text-muted Total Houesholds
                            buttton#houseStatUser
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Population
                                small.text-muted Total Population
                            buttton#popStatUser
                        //li.list-group-item.d-flex.justify-content-between.bg-light
                            .text-success
                                h6.my-0 Promo code
                                small EXAMPLECODE
                                span.text-success -$5
                        //li.list-group-item.d-flex.justify-content-between
                            span Overall Score
                            strong $20
                .col-lg-6.col-sm-12
                    canvas#graphicOftop3
            .row
                .col-lg-12
                    h2 Your rating chart
                    .table-responsive
                        canvas#ratingStats.table(max-height='500px')
            .row        
                .form-group.col-md-6
                    //label(for='inputState') State
                    select#type.form-control
                        option(value="line") Line
                        option(value="bar") Bar
                .form-group.col-md-6        
                    button#update.btn.btn-primary update    
            .row
                .col-lg-6.col-sm-12
                    h2 Your rating information
                    .table-responsive
                        table.table.table-striped.table-sm
                            thead
                                tr
                                    th Ward
                                    th Q1
                                    th Q2
                                    th Q3
                                    th Select
                            tbody.tBodyUserRate
                    form#delteRatingForm(action = "/users/delRating", method = "POST")
                        input(type="hidden" id="removeRatingWard" name="ratingWard" value="")
                        |                                   
                        button#deleteRating.btn.btn-primary.float-right.ml-2(type='submit') Delete Rating             
                .col-lg-6.col-sm-12
                    h2 Account Details
                    .userDetailsForm
                        form#userDetailsForm(action="/users/update_user" method="POST" onSubmit="return checkPCode4();")
                            .form-row  
                                .form-group.col-sm-6
                                    label(for='validationDefault01') First name
                                    input#validationDefault01.form-control(type='text', placeholder='First name', required='',name='fName')
                                .form-group.col-sm-6   
                                    label(for='validationDefault02') Last name
                                    input#validationDefault02.form-control(type='text', placeholder='Last name', required='',name='lName')
                                .form-group.col-sm-6
                                    label(for='inputEmail4') Email
                                    input#inputEmail4.EditUserMail.form-control(type='email', placeholder='Email', name='email',required='')
                                .form-group.col-sm-6 
                                    label(for='inputAddress') Address
                                    input#inputAddress.form-control(type='text', placeholder='1234 Main St', name='address',required='')
                                .form-group.col-sm-6
                                    label(for='inputZip') PostCode
                                    input#inputZip.EditUser.form-control(type='text', name='postCode',required='')
                                .form-group.col-sm-6
                                    label(for='inputCity') City
                                    input#inputCity.form-control(type='text' name='city',required='')
                                .form-group.col-sm-12    
                                    button#subUser.btn.btn-primary.float-right(type='submit') Update     
                    .row
                        .col-lg-12.col-sm-12  
                            button#openPassw.btn.btn-primary Change Password
                            // The Modal
                            #myModalz.modalz
                                .row
                                    .form-group.col-lg-6.m-auto    
                                        // Modal content
                                        .modal-contentz
                                            span.closez ×
                                            form#userDetailsFormPassword(action="/users/update_user_password" method="POST")
                                                .form-row  
                                                    .form-group.col-lg-12
                                                        label(for='inputPassword4') Change Password
                                                        input#inputPassword4.form-control(type='password', placeholder='Password', name='password',required='') 
                                                    .form-group.col-lg-12    
                                                        button#subUserPassword.btn.btn-primary.float-right(type='submit') Update   



        script
            include ../public/javascripts/mainFunc.js  
            include ../public/javascripts/users/user_func.js        
            include ../public/javascripts/users/users.js    
            include ../public/javascripts/chartJs/radar.js
            include ../public/javascripts/chartJs/basicBar.js
            include ../public/javascripts/formValidation.js
    else if accountType == 'Admin'   
        .container.marketing
            .row
                .col-lg-12
                    h2 The Number of users
                .col-lg-4
                    ul.list-group.mb-12
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Users
                                small.text-muted Total User Number
                            buttton#totUser
                .col-lg-4
                    ul.list-group.mb-12    
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Admins
                                small.text-muted Total Admin Number
                            buttton#totAdmin
                .col-lg-4
                    ul.list-group.mb-12    
                        li.list-group-item.d-flex.justify-content-between.lh-condensed
                            div
                                h6.my-0 Wards
                                small.text-muted Total Wards Number
                            buttton#totWard 
                .col-lg-12
                    canvas#userStamp
               
                h2 Users
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th.th-lg(scope='row') Email
                                th.th-lg(scope='row')  First Name
                                th.th-lg(scope='row')  Last Name
                                th.th-lg(scope='row')  Address
                                th.th-lg(scope='row')  PostCode
                                th.th-lg(scope='row')  City
                                th.th-lg(scope='row')  Account Type
                                th.th-lg(scope='row')  Select User
                        tbody.tBodyAdminUsers                    
                .row.col-lg-12                       
                    .col-lg-12
                        #formHolder
                                form#deleteUser(action = "/users/delUser", method = "POST" onsubmit="return validateDel()")
                                    input(type="hidden" id="editUserMail" name="userMail" value="")
                                    |                                 
                                    button#delUSer.btn.btn-primary.float-right.ml-2(type='submit') Delete User    
                        button#openEdit.btn.btn-primary.float-right.ml-2 Edit User
                        // The Modal
                        #myModalz.modalz
                            .row
                                .form-group.col-lg-6.m-auto    
                                    // Modal content
                                    .modal-contentz
                                        span.closez ×
                                        .userDetailsForm
                                            form#edit(action="/users/update_user2" method="POST" onSubmit="return checkPCode3();")
                                                .form-row  
                                                    .form-group.col-sm-6
                                                        label(for='validationDefault01Edit') First name
                                                        input#validationDefault01Edit.form-control(type='text', placeholder='First name', required='',name='fName')
                                                    .form-group.col-sm-6   
                                                        label(for='validationDefault02Edit') Last name
                                                        input#validationDefault02Edit.form-control(type='text', placeholder='Last name', required='',name='lName')
                                                    .form-group.col-sm-6
                                                        label(for='inputEmail4Edit') Email
                                                        input#inputEmail4Edit.form-control(type='email', placeholder='Email', name='email',required='')
                                                    .form-group.col-sm-6 
                                                        label(for='inputAddressEdit') Address
                                                        input#inputAddressEdit.form-control(type='text', placeholder='1234 Main St', name='address',required='')
                                                    .form-group.col-sm-6
                                                        label(for='inputZipEdit') PostCode
                                                        input#inputZipEdit.Edit.form-control(type='text', name='postCode',required='')
                                                    .form-group.col-sm-6
                                                        label(for='inputCityEdit') City
                                                        input#inputCityEdit.form-control(type='text' name='city',required='')
                                                        input#mailOld(type="hidden" name="mailOld")    
                                                    .form-group.col-sm-12    
                                                        button#subUser.btn.btn-primary.float-right(type='submit') Update 
                        button#openAddUser.btn.btn-primary.float-right.ml-2 Add User
                        #myModalzAdd.modalz
                            .row
                                .form-group.col-lg-6.m-auto  
                                    // Modal content
                                    .modal-contentz
                                        span.closez ×
                                        form#addUser(action="/users/user_create2" method="POST" onSubmit="return checkPCode2();")
                                            .form-row  
                                                .form-group.col-sm-6
                                                    label(for='validationDefault01') First name
                                                    input#validationDefault01.form-control(type='text', placeholder='First name', required='',name='fName')
                                                .form-group.col-sm-6   
                                                    label(for='validationDefault02') Last name
                                                    input#validationDefault02.form-control(type='text', placeholder='Last name', required='',name='lName')
                                                .form-group.col-sm-6
                                                    label(for='inputEmail4') Email
                                                    input#inputEmail4.mailAdd.form-control(type='email', placeholder='Email', name='email',required='')
                                                .form-group.col-sm-6 
                                                    label(for='inputAddress') Address
                                                    input#inputAddress.form-control(type='text', placeholder='1234 Main St', name='address',required='')
                                                .form-group.col-sm-6
                                                    label(for='inputZip') PostCode
                                                    input#inputZip.Add.form-control(type='text', name='postCode',required='')
                                                .form-group.col-sm-6
                                                    label(for='inputCity') City
                                                    input#inputCity.form-control(type='text' name='city',required='')
                                                .form-group.col-lg-12
                                                    label(for='inputPassword4') Password
                                                    input#inputPassword4.form-control(type='password', placeholder='Password', name='password',required='') 
                                                .form-group.col-sm-12    
                                                    button#addUSer.btn.btn-primary.float-right(type='submit') Add user   
                        form#makeDbFrom(action="../makeDB" method="GET")
                            button#makeDB.btn.btn-primary.float-right.ml-2(type='submit') Make Databases                            
        script.
            oldMailz="#{userMail}";
        script
            include ../public/javascripts/mainFunc.js  
            include ../public/javascripts/users/admin_func.js        
            include ../public/javascripts/users/admin.js    
            include ../public/javascripts/chartJS/timeUser.js   
            include ../public/javascripts/formValidation.js
