extends layout

block content

  p Adding content to db:)
  script
    include ../public/javascripts/mainFunc.js
    include ../public/javascripts/addingDB/databaseAdding.js
    include ../public/javascripts/addingDB/settingUpDB.js
    include ../public/javascripts/addingDB/addingToDB.js
   
