extends layout

block content

  p Adding content to db:)
  script
    include ../public/javascripts/mainFunc.js
    include ../public/javascripts/databaseAdding.js
    include ../public/javascripts/settingUpDB.js
    include ../public/javascripts/addingToDB.js
   
