html
    body
        div create user
            hr
            form(action="/user_create" method="POST")
                input(placeholder="First name" name="create_firstname")
                input(placeholder="Last name" name="create_lastname")
                button() Submit