html
    body
        div create crime
            hr
            form(action="/crime_create" method="POST")
                input(placeholder="WardName" name="create_ward")
                input(placeholder="bulglary" name="create_bulglary")
                input(placeholder="sexualOffence" name="create_sexOffemce")
                input(placeholder="allCrimes" name="create_allCrimes")
                input(placeholder="TotalPop" name="create_pop")
                button() Submit