extends layout

block content
    script
      include ../public/javascripts/getLoc.js
      
  

    //form#locationForm(action = "/findArea", method = "POST")
        div
          label(for = "say") Say:
          input(required name = "say" placeholder = "Enter Postcode")
          input(type="hidden" id="lat" name="lat" value="")
          input(type="hidden" id="long" name="long" value="")
    //button#locBtnPscode Find Postcode
    //button#locBtn Find loc
    //div#x
    #formHolder
    form#locationForm.form-signin.text-white(action = "/findArea", method = "POST")
      img.mb-4(src='/docs/4.4/assets/brand/bootstrap-solid.svg', alt='', width='72', height='72')
      |   
      h1.h3.mb-3.font-weight-normal Please find PostCode
      |   
      label.sr-only(for='inputEmail') Email address
      |   
      input#inputEmail.form-control(name = 'say', placeholder = 'Enter Postcode', required='', autofocus='')
      |   
      label.sr-only(for='inputPassword') Password
      |   
      input(type="hidden" id="lat" name="lat" value="")
      |  
      input(type="hidden" id="long" name="long" value="")
      |   
      button#locBtnPscode.btn.btn-lg.btn-primary.btn-block(type='submit') Find Postcode
      |   
      p.mt-5.mb-3.text-white &copy; Dawid Koleczko

