extends layout

block content   
    //script.
      var userMail = "#{userMail}"
    #formHolder
    form#locationForm.form-signin.text-white(action = "/findArea", method = "POST" onSubmit="return val()")
      img.mb-4(src='../images/map.png', alt='', width='72', height='72')
      |   
      h1.h3.mb-3.font-weight-normal Please find PostCode
      |    
      input#inputPostC.form-control(name = 'say', placeholder = 'Enter Postcode', required='', autofocus='')
      |   
      input(type="hidden" id="lat" name="lat" value="")
      |  
      input(type="hidden" id="long" name="long" value="")
      |   
      button#locBtnPscode.btn.btn-lg.btn-primary.btn-block(type='submit') Find Postcode
      |   
      p.mt-5.mb-3.text-white &copy; Dawid Koleczko
    script
      include ../public/javascripts/getLoc.js
      include ../public/javascripts/mainFunc.js
      //include ../public/javascripts/main/indexMain.js

