extends layout

block content
    script.
        var checkAuth = '#{success}';
        
        if(checkAuth == "error"){
            
            alert("error");
        }    

    
  
    form.form-signin(action="/users/auth" method="POST")
        .text-center.mb-4
            img.mb-4(src='../images/map.png', alt='', width='72', height='72')
            h1.h3.mb-3.font-weight-normal LogIn / Register
            p
            | Please sign in to the account or Click the button below to register
        .form-label-group
            input#inputEmail.form-control(type='email', required='', autofocus='', name="email")
            label(for='inputEmail') Email address
        .form-label-group
            input#inputPassword.form-control(type='password', required='',name="password")
            label(for='inputPassword') Password
        button.btn.btn-lg.btn-primary.btn-block#logzinUser(type='submit') Sign in
        br
        a(href='/users/register')
            button.btn.btn-lg.btn-primary.btn-block(type='button') Register
    script
        include ../public/javascripts/mainFunc.js
        