extends layout

block content
    form.form-signin(action="/users/auth" method="POST")
        .text-center.mb-4
            img.mb-4(src='../images/map.png', alt='', width='72', height='72')
            h1.h3.mb-3.font-weight-normal LogIn / Register
            p
            | Please sign in to the account or Click the button below to register
        .form-label-group
            input#inputEmail.form-control(type='email', required='', autofocus='', name="email")
            label(for='inputEmail') Email address
        .form-label-group
            input#inputPassword.form-control(type='password', required='',name="password")
            label(for='inputPassword') Password
        .checkbox.mb-3
            label
            input(type='checkbox', value='remember-me')
            |  Remember me
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        br
        a(href='/users/register')
            button.btn.btn-lg.btn-primary.btn-block(type='button') Register
            
        p.mt-5.mb-3.text-muted.text-center © 2017-2019
