extends layout

block content


    h3 My Google Maps Demo
    // The div element for the map
    #map


    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDAglkLvUcnGUDh44kwCtqKfSrtcJBSMG0&callback=initMap')
    script
        include ../public/javascripts/map/staticMap.js