body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#findArea{
  background-image:url("../../images/pc_01.jpg"); ;
  

}

#map {
  height: 100%;
}